* {
    margin: 0;
    padding: 0;
    background-color: #425664;
}

.header {
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-rows:70px;
    grid-template-areas:"rightRole   leftRole";
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    position: sticky;
    top: 10px;
}

.header .hea

.header>.rightRole {
    display: flex;
    grid-area: rightRole;
   

}
.header .rightRole .weblogo>img{
padding: 10px 0px 5px 60px;
}

.header .leftRole{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    font-family: Arial, sans-serif;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
}
.header .leftRole .teen {
    text-decoration: none;
    color: white;
    font-size: 20px;
    word-spacing: 5px;
    
}
.header .leftRole .company{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 40px;
} 
.header .leftRole .parent{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 40px;
} 
.header .leftRole .Login{
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 40px;
   
} 
.header .leftRole .Register{
    background-color: #08a586;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
} 

.firstmainContent{
 display: grid;
 grid-template-areas: "rightmain leftmain";
 grid-template-columns: 50% 50%;
}

.firstmainContent .mainLine{
    grid-area: rightmain;

}
.firstmainContent .mainImage{
    grid-area: leftmain;
}