body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-header h1{
  /* height: 1rem; */
  background-color: aqua;
  margin: 0;
  border-radius: 20rem;
  font-size: 1.5rem;
  padding: 10px;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2 {
  color: #282c34;
}

#about, #skills, #projects, #contact {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}
