@import url('https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Liter&family=Playwrite+ES+Deco+Guides&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scrollbar-color: #252525 #111111;

}

body {
   width: 100%;
   height: 100vh;
   font-family: "Liter", serif;
   background-color: #111111;
   position: absolute;
}
.search-btn-icon{
   font-size: 2.2rem;
   padding: 0;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}
.header-container {
   width: 100%;
   height: 10vh;
   color: white;
   position: sticky;
   background-color: #111111;
   top: 0;
}

.header-elements {
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   position: sticky;
   top: 0;
   list-style: none;
   padding: 0 2rem;
}
.header-left-section,
.header-middle-section,
.header-right-section{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 1rem;
}
.header-left-section .info,
.header-right-section .upload-btn,
.header-right-section .notification-btn,
.header-right-section .profile-btn
{
cursor: pointer;
}
.header-left-section .logo{
   font-size: 10px;
}
.header-right-section .upload-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #252525;
   border-radius: 2rem;
   padding: 0.5rem 1rem;
}
.header-right-section .profile-btn{
   padding: 0.2rem;
   border: 1px solid #ffff;
   border-radius: 50%;
}
.header-middle-section  .search-form{
 width: 40rem;
 height: 70%;
 display: flex;
 align-items: center;
 border: 1px solid #252525;
 border-radius: 10rem;
 overflow: hidden;
 color: white;
}
.header-middle-section  .search-form input{
   flex: 1;
   border: none;
   border-radius: none;
   background-color: transparent;
}
.header-middle-section  .search-form #search-input-id{
   padding-left: 1rem;
   font-size: 1rem;
   outline: none;
   border: none;
   align-items: center;
   display: flex;
   justify-content: center;

}
.header-middle-section  .search-form #search-btn-id{
   outline: none;
   border: none;
   height: 100%;
   align-items: center;
   border-left: 0.5px solid #464444;
   padding: 0 0.5rem;
   background-color: #252525;
}
.container {
   width: 100%;
   height: 100%;
   display: flex;
   color: white;
   padding: 0.5rem 0;
   justify-content: end;
   align-items: flex-end;
   overflow-y: hidden;
}
.left-container {
   width: 20%;
   height: 100%;
   position: fixed;
   left: 0;
   right: 80%;
}
.left-container-elements{
   height: 100%;
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   overflow-y: scroll;
   padding-bottom:10rem ;
}
.left-container-first-elements,
.left-container-second-elements,
.left-container-third-channels,
.left-container-forth-elements,
.left-container-footer-elements{
   width: 100%;
   list-style: none;
}

.left-container-first-elements{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}
.right-container{
   width: 80%;
   height: 100vh;
   overflow-y:auto ;
   padding: 2rem;
}
.video-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: start;
   align-items: center;
}

.video-container .video{
   width: 32%;
   display: flex;
   background-color: red;
   flex-direction: column;
   border-radius: 1rem;
}
.video-container .video .video-thumnail{
   width: 100%;
}
.video-container .video .video-thumnail img{
   width: 99%;
   border-radius: 1rem 1rem 0 0;
}
.video-container .video .video-details
{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}